<div class="padding-global padding-section-small"><div class="container-large"><div class="choose_main_slide"><h2 class="heading-style-h3">
{{ section.settings.text_headline }}
</h2>
<div class="choose_main_component">{% for block in section.blocks %}
    {% if block.type == "art" %}
                    <div li-block="Art" id="w-node-_23013639-99e4-d081-fb17-ff15b9563d8e-bee728e2" data-w-id="23013639-99e4-d081-fb17-ff15b9563d8e" class="choose_main_item">
                                    
                                    <a href="{{ block.settings.url_button_link }}" class="choose_main_link w-inline-block"> <div class="choose_main_content"><h3 class="choose_main_name gradient-bar-choose">{{ block.settings.text_choose_headline }}</h3><p>{{ block.settings.text_choose_text }}</p></div><div class="choose_main_img-wrapper"><img class="choose_main_img" src="{{ block.settings.image_choose_img | img_url: 'master' }}" alt="{{ block.settings.image_choose_img.alt }}" sizes="(max-width: 479px) 71vw, (max-width: 767px) 30vw, (max-width: 991px) 23vw, 13vw" loading="lazy"><div id="w-node-af1dcb64-976f-99e5-8dd4-6ddec9062b61-bee728e2" class="choose_main_button-wrapper"><p class="button is-secondary-white">{{ block.settings.text_button_text }}</p></div></div> </a>

                                    
                            </div>
            {% endif %}
{% endfor %}
</div></div></div></div> {% schema %} {"tag":"section","name":"Funnel - Art","class":"section_choose_main","blocks":[{"name":"Art","type":"art","settings":[{"id":"url_button_link","type":"url","label":"Button-Link"},{"id":"text_choose_headline","type":"text","label":"Choose Headline","default":"Mountain bike"},{"id":"text_choose_text","type":"text","label":"Choose Text","default":"W\u00e4hle im n\u00e4chsten Schritt deine Marke aus."},{"id":"image_choose_img","type":"image_picker","label":"Choose Img"},{"id":"text_button_text","type":"text","label":"Button-Text","default":"Marke ausw\u00e4hlen"}]}],"settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Wof\u00fcr ben\u00f6tigen sie den Service?"}],"presets":[{"name":"Funnel - Art","category":"Liquify","blocks":[{"type":"art"}]}]} {% endschema %}